.new-link-modal {
  padding: 56px 32px 32px 32px;
  min-width: 450px;
  min-height: 350px;

  .organism-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 16px;
    margin-top: 8px;

    app-form-group {
      width: 100%;
    }

    .btn-container {
      display: flex;
      justify-content: end;
      align-items: center;
      gap: 16px;
      margin-top: 32px;
      width: 100%;
    }
  }

  mat-icon {
    color: rgba(51, 54, 63, 1);
    position: absolute;
    right: 24px;
    top: 24px;
  }
}