.organism-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.title {
    font-size: 20px;
    font-weight: 600;
}

.link-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    p,
    app-link {
        margin: 0;
        font-size: 12px;
    }
}